# Exclude everything by default, then include just what we need
# Especially note this means that .git is not included, and not tests/
# to avoid spurious rebuilds.
*
# And explicit includes
!packages.txt
!packages-common.txt
!packages-debian.txt
!packages-c10s.txt
!build-deps.txt
!build-deps-debian.txt
!build-deps-c10s.txt
!devenv-init.sh
